.footer {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #15171a;
    padding: 10px;
    
}
.footer__container {
    background-color: #15171a;
}
.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.logo {
    display: grid;
    justify-items: center;
}
.logo__caption {
    text-align: center;
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: underline;
    color: black;
}
  